body{
    
    max-width: 2500px;
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content:center

}
.titulo{
    background-color: aquamarine;
    text-align: center;
    color: red;
}
.table, td, th {
    border: 1px solid black;
    
}
.list{
    text-align: center;

}
.total{
    text-align: center;
}
.policy{
    text-align: right;
}
.fired{
    background-color: aquamarine;
    text-align: center;
    color: red;
}
.terminar{
    background-color: red;
    width: 100px;
    height: 60px;
}