body{
    background-color: whitesmoke;

}

.user{
    display:flex ;
}
.main_user {
    width: 40%;
    height: 50%;
    box-shadow: 0 13px 8px 0 rgba(165, 52, 52, 0.473), 0 16px 120px 0 rgba(143, 96, 96, 0.247);
    text-align: center;
    background-color: rgb(59, 61, 61);
    margin: 0 auto;
    margin-top: 10%;
}
  
.user_id {
    padding: 10px;
    color: whitesmoke;
    font-size: 12px;

}
#logo{
      width: 100px;
      height: 100px;
      border-radius: 60%;
}
.pedidos{
    color: whitesmoke;
    font-size: 12px;

}
#tablaorders, th{
    color: whitesmoke;
    text-align: center;
}